# AWS SETTINGS
SECRET_KEY = '...'
PUBLIC_KEY = '...'
ASW_REGION = '...'

# SERVER SETTINGS
SERVER_HOST = '...'
SERVER_PORT = '...'

# TF SERVING SETTINGS
TF_HOST = '...'
TF_PORT = '...'
MODEL_SPEC_NAME = '...'