{
    "DEFAULT": {
        "SECRET_KEY": "...",
        "PUBLIC_KEY": "...",
        "AWS_REGION": "...",
        "SERVER_HOST": "...",
        "SERVER_PORT": "...",
        "TF_HOST": "...",
        "TF_PORT": "...",
        "MODEL_SPEC_NAME": "..."
    }
}